<h2>Welcome to The Next G-Car</h2>

	<a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
<hr>
<ul>
  {{#each categories}}
    <h1><li>{{category}}</li></h1>
  {{/each}}
</ul>
<hr>