<h1 class="text-center">{{oneArticle.title}}</h1><h4 class="text-center">-{{oneArticle.author}}</h4>
<br>
<div class="row">
  <img class="img-thumbnail center-block" style="width:50%" src="{{oneArticle.image}}">
</div>
<br><br>
<div>
  <p>{{oneArticle.summary}}</p>
</div>