<h2>Dashboard</h2>
<div id="stuff">

  {{#if user}}
  <em>{{user.username}}<em>
  {{else}}
  <em>Not Found<em>
  {{/if}}

	<hr>

	<button class="btn btn-inverse btn-lg">Add New Article</button>
</div>

<div id="insertArticle">
  <form  method="post">
    <div>
    <label for="articleIdInput">Title</label>
      <input name="title" id="articleTitleInput"></input>
    </div>
    <div>
    <label for="articleSummaryInput">Summary</label>
      <input name="summary" id="articleSummaryInput"></input>
    </div>
    <div>
    <label for="articleAuthorInput">Author</label>
      <input name="author" id="articleAuthorInput"></input>
    </div>
    <div>
    <label for="articleImageInput">Image</label>
      <input name="image" id="articleImageInput"></input>
    </div>
    <div>
    <label for="articleCategoryInput">Category</label>
      <input name="category" id="articleCategoryInput"></input>
    </div>


    <button type="submit">Submitt </button>
  </form>
</div>




<br>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Advanced TODO</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>Create a article submission page (that the above button links to or shows)</li>
      <li>Save the contents of this to the articles.json "database" :)</li>
    </ul>
  </div>
</div>